* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    padding: 20px;
    grid-gap: 0;
    justify-content: center;
}

.box-1 {
    width: auto;
    height: auto;
    grid-row: 1;
    text-align: center;
}

.box-2 {
    width: auto;
    height: auto;
    grid-column: 2 / span 3;
    grid-row: 1;
}

.box-3 {
    grid-column: 1 / span 4;
    grid-row: 2;
    background-color: black;
    color: white;
}

.box-4 {
    grid-column: 1 / span 4;
    grid-row: 3;
    width: 100%;
}

.box-5 {
    grid-column: 1 / 2;
    grid-row: 4;
    width: 100%;
}

.box-6 {
    grid-column: 2 / span 4;
    grid-row: 4;
    width: 100%;;
    text-align: center;
}

.box-7 {
    grid-row: 5;
    grid-column: 1 / span 3;
}

.box-8 {
    grid-row: 5;
    grid-column: 3 / span 1;
    width: 100%;
}

.box-9 {
    grid-row: 5;
    grid-column: 4 / span 1;
    background-color: black;
    color: white;
    width: 100%;
}

.box-10 {
    grid-column: 1 / span 4;
    grid-row: 6;
    height: auto;
    width: 100%;
}

.box-11 {
    grid-column: 1 / span 4;
    grid-row: 7;
    width: 100%;
    text-align: right;
}

/* Estilos adicionais */
.container div {
    border: 1px solid black;
    padding: 10px;
    font-family: Arial, sans-serif;
}
